<h1>Welcome to Dog-park Meetup!</h1>
<p>
	This app will be used to help dog owners to know that when they go to their local park, there will 	be other dogs there.<br />
	<br />
	Dog owners and come to the site, choose their dog-park and pick the time, duration and dog size. This will help other dog owners to decide when they might like to visit the park.<br />
	<br />
	<a href="mailto:chris.lydon@gmail.com">E-mail</a> me if you would like a park added or have any other suggestions for the site. Thanks!<br />
	<br />
	Please include the following info:
	<ul>
		<li>Name
		<li>City
		<li>State
		<li>Zip
	</ul>
</p>
